body{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    margin: 0;
    padding: 0;
}

.background-image {
    background-image: url('../index.html/swirl_pattern.png');
  
  }




.navbar-brand{
    font-size: xx-large; 
    background-color: darkred;
    margin-left: 135px;
    padding: 2%;
  
}

.bg-light{
    background-color: rgb(65, 62, 62) !important;
}



.container {
    background-color: darkred;
    height:960px;
    width: 960px;
}

.flex-container {
    flex-wrap: wrap;
    float: left;
  }

#bio-image {
    margin-right: 20px;
    width: 200px;
    height: 200px;
    background-image: url('../index.html/cat2.jpeg');
    background-size: 100%;
    float: left;
}



.gallery-links{
    display: flex;
    flex-flow: row wrap;
}


.gallery-img{
    flex-basis: 30%;
    margin: 20px;
   
   
}



  

footer {
    background-color: #000;
    position: fixed;
    height: 50px;
    bottom: 0;
    border-top: 8px solid #e28710;
    left: 0;
    width: 100%;
    text-align: center;
}


@media only screen and (max-width: 580px) {
    .container {
      width: 100%;
    }
  }

